.principal {
    display: grid;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
    font-size: 40px;
    color: #ff9800;
    align-items: center;
  }
  
  .parrafo1 {
    font-family: sans-serif, Tahoma;
    color: #ff9800;
    padding: 20px;
    display: flex;
  }