$black: rgb(0, 0, 0);
$rojo: rgb(227, 44, 44);
$blanco: #ffffff;
$naranja: #ff9800;
$gris: grey;
$verde: #07bb0e;
$petroleo: #41464b;
$blancos: white; 
$enpetrolado: rgba(135, 173, 195, 0.726);