* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.header {
  flex-wrap: wrap;
}

.header {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: start;
  background-image: url("../imagenes/fogonmultiuso.jpg");
}

.header__logo {
  display: flex;
  height: 200px;
  right: 10px;
  flex-direction: row;
  align-items: center;
}

.header__nav {
  font-size: 25px;
  text-align: center;
  display: flex;
}

.header__lista {
  margin: 10px;
  padding: 5px;
  flex-wrap: wrap;
}

.header__item {
  display: inline-flex;
  justify-content: center;
  width: 250px;
  height: 30px;
}

.principal {
  display: grid;
  font-family: Segoe UI;
  font-size: 70px;
  color: rgb(251 255 18);
  align-items: center;
}

a {
  color: black;
  font-size: 25px;
  font-style: normal;
  width: 250px;
  text-align: center;
  transition: all 1s;
  background-color: orange;

}


body {
  background-color: none;
}

.parrafo {
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 30px;
  background-color: rgba(255, 166, 0, 0.623);
  margin: 20px;
}



.gallery__img {

  object-fit: cover;
}

div img {
  padding: 20px;
  max-width: 100%;

}

.alert-warning{
  font-size: 30px;
  color: black;
}




/*------------------FOOTER----------------------*/


.footer-0 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: orange;

}


.contenedor-footer {
  display: flex;

}

.footer__span1 {
  margin-block-start: -150px;

}

.iframe {
  display: flex;
  margin: 30px;
  align-content: flex-end;
  margin-left: 900px;

}

.contactosubtitulo {
  text-align: center;
}


.calle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  margin-top: 200px;
}

.telefono {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.econtacto {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 50px;
}


img {
  max-width: 100%;
}


/*------------------APPS----------------------*/


.redes {
  display: flex;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  height: 150px;
  padding-bottom: 40px;
  text-align: right;
}

.redes li {
  display: inline-block;
}


p {
  font-size: 20px;
  margin: 20px;
}

h1 {
  text-align: center;
  margin: 30px;
}

.trabajos-realizados {
  display: flex;
  align-content: center;
  text-align: start;
  margin: 40px;

}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}


.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}


article.columnaa {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section {
  grid-area: "section";
}

.contenedor {
  width: 100%;
  margin: auto;

}

columna.img {
  width: 100%;
}

.columna {
  margin: 5px;
}

.columna.container {
  display: grid;
}

.header__item {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 1s;
  font-size: 30px;
}

.header__item:hover {
  width: 200px;
  height: auto;
  background-color: orange;
  color: orange;
  text-align: center;
  padding: 20px;
}

.columna.container {
  background: rgb(51, 196, 196);
  display: inline-block;
  overflow: hidden;
  margin: 1px 0px;
  padding: 0;
}


.elemento.elemento-img {
  position: relative;
  transition: 2s;
  transform: 0;
  display: block;
}

form {

  align-content: center;
  border: #0c0c0c;
}

iframe {
  margin-left: 350px;
  padding: 10px 400px;
  margin: 40px;
}

fieldset.datos {
  display: grid;
  align-content: center;
  font-size: 18px;
  margin: 40px;
  align-items: end;
  justify-items: stretch;
}


.facturacion {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 20px;
  justify-content: flex-start;
  height: 30px;
}

.legend.completardatos {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 30px;
  margin-left: 20px;
}

.contactoingresar {
  display: grid;
  align-content: stretch;
  padding: 30px 90px;
  margin: 100px;
  align-items: center;
  justify-items: center;
  justify-content: space-between; 
  background-color: orange;
}


.tipodefactura {
  display: grid;
  align-content: center;
  padding: 30px 90px;
  justify-content: space-between;
}












/*------------------------ MEDIA QUERIES/ tablets -------------------------*/


@media screen and (max-width:768px) {



  .header {
    justify-content: center;
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }

  .footer-0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  a {
    font-size: 20px;
  }

  .principal {
    font-size: 50px
  }

  p {
    font-size: 15px;
  }

  .header {
    display: flex;
  }


  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-items: center;
  }

  .header.header {
    justify-items: center;
    flex-wrap: wrap;
  }


  ul.header__lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  iframe {
    margin-left: 130px;
    padding: 5px 200px;
    margin: 40px;
  }

  .header__nav {
    font-size: 25px;
    display: flex;
  }

  .redes {
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: right;
  }


}




/*---------movil L-425px-------MEDIA QUERIES---------------*/

@media screen and (max-width:425px) {

  .grid-container {

    grid-template-columns: 1fr;
    justify-content: center;
  }

  .header__item {
    display: inline-flex;
    width: 250px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
  }

  p {
    margin: 50px;
  }

  .redes {
    height: 20px;
    flex-wrap: wrap;
  }

  .footer-0 {
    justify-content: space-between;
    align-content: center;
  }

  .calle {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .contactoingresar {
    align-content: center;
    padding: 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }


  .tipodefactura {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-left: 10px;
  }

  iframe {

    padding: 0px;
    margin: 0px;
  }

  ul .header__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .facturacion {
    display: flex;
    align-content: center;
    font-size: 20px;
    justify-content: flex-end;
    height: 30px;
    flex-direction: column;
    align-items: center;
  }

}