* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.header {
  flex-wrap: wrap;
}

.header {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: start;
  background-image: url("../imagenes/kmd.jpg");
}

.header__logo {
  display: flex;
  height: 200px;
  width: 200px;
  right: 10px;
  flex-direction: row;
  align-items: center;
}

.header__nav {
  font-size: 25px;
  text-align: center;
  display: flex;
}

.header__lista {
  flex-wrap: wrap;
}

.header__item {
  display: inline-flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  text-align: center;
}

.principal {
  display: grid;
  font-family: 'Ephesis', 'Licorice', 'The Nautigal', cursive;
  font-size: 120px;
  color: rgb(255, 255, 18);
  align-items: center;
}

a {
  color: #fdf60d;
  transition: background-color .5s;
}

.header__item:hover {
  border-radius: 30px;
}

a:hover {
  color: rgb(227, 44, 44);
}


body {
  background-color: none;
}

.parrafo1 {
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 20px;
  background-color: rgba(135, 173, 195, 0.726);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.parrafo {
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 5px;
  background-color: rgb(61 54 66 / 23%);
}

.parrafo3{
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 20px;
  background-color: rgba(135, 173, 195, 0.726);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.gallery__img {

  object-fit: cover;
}

div img {
  padding: 1px;
  max-width: 100%;
}


h3.titulo {
  color: hsl(219, 70%, 35%);
  font-size: 21px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-shadow: 0 0 black;
}

.resumen {
  color: black;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
}


.imagenes-taller {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 20px;
}

.card-img-overlay {
  position: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);}


/*------------------FOOTER----------------------*/


.footer-0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #41464b;
  color: white;
}


.contenedor-footer {
  display: flex;
  height: 200px;
  width: 200px;

}

.footer__span1 {
  margin-block-start: -150px;
}

iframe {
  display: grid;
  width: 50%;
  height: 250px;
  padding: 10px 100px;
  margin-left: 650px;
  margin-top: -450px;
}

.contactosubtitulo {
  text-align: center;
  font-style: italic;
}


.calle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  margin-top: 200px;
}

.telefono {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.econtacto {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 50px;
}

img {
  max-width: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: 500px;
}

.carousel-inner {
  height: 460px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #ffeb3b;
  text-align: center;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 20px;
  padding: 0;
  margin-left: 17px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}


/*------------------APPS----------------------*/


.redes {
  display: flex;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  height: 150px;
  text-align: right;
}

.redes li {
  display: inline-block;
}


p {
  font-size: 20px;
  margin: 20px;
}

h1 {
  text-align: center;
  margin: 30px;
}

.trabajos-realizados {
  display: flex;
  align-content: center;
  text-align: start;
  margin: 40px;

}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}


.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}


.section {
  grid-area: "section";
}

.contenedor {
  width: 100%;
  margin: auto;

}

columna.img {
  width: 100%;
}

.columna {
  margin: 5px;
}

.columna.container {
  display: grid;
}



.columna.container {
  background: rgb(51, 196, 196);
  display: inline-block;
  overflow: hidden;
  margin: 1px 0px;
  padding: 0;
}

.elemento.elemento-img {
  position: relative;
  transition: 2s;
  transform: 0;
  display: block;
}

form {
  align-content: center;
  border: #0c0c0c;
}


input[type="submit"] {
  border-radius: 40px;
  width: 50%;
  padding: 10px;
  margin: 20px;
  background-color: #fff207;
}

input[type="button"] {
  border-radius: 40px;
}

input[type="reset"] {
  border-radius: 40px;
}


fieldset.datos {
  display: grid;
  align-content: center;
  font-size: 18px;
  margin: 40px;
  align-items: end;
  justify-items: stretch;
}


.facturacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50%;
  position: relative;
  top: -550px;
}

.legend.completardatos {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 30px;
  margin-left: 20px;
}

.contactoingresar {
  display: grid;
  align-content: center;
  padding: 30px 30px;
  align-items: center;
  margin: 40px;
  width: 35%;
  background-color: #41464b;
  color: white;
  border-radius: 10px;
}


.tipodefactura {
  display: grid;
  align-content: center;
  padding: 30px 90px;
  justify-content: space-around;
}












/*------------------------ MEDIA QUERIES/ tablets -------------------------*/


@media screen and (max-width:768px) {



  .header {
    justify-content: center;
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }

  .footer-0 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  a {
    font-size: 20px;
  }

  .principal {
    font-size: 50px
  }

  p {
    font-size: 20px;
  }

  .header {
    display: flex;
  }


  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-items: center;
  }

  .header.header {
    justify-items: center;
    flex-wrap: wrap;
  }


  ul.header__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  iframe {
    padding: 5px 200px;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;

  }

  .header__nav {
    font-size: 25px;
    display: flex;
  }

  .redes {
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: right;
  }

  .header__item {
    display: inline-flex;
    width: 250px;
    height: 30px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0 / 0%);
  }

}




/*---------movil L-425px-------MEDIA QUERIES---------------*/

@media screen and (max-width:425px) {

  .grid-container {

    grid-template-columns: 1fr;
    justify-content: center;
  }

  .header__item {
    display: inline-flex;
    width: 250px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
  }

  .carousel-item img {
    max-width: 100%;
  }


  p {
    font-size: 15px;
    margin: 20px;
  }

  .redes {
    height: 20px;
  }

  .footer-0 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .calle {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .contactoingresar {
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }

  .tipodefactura {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-left: -160px;
  }

  iframe {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  ul .header__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .facturacion {

    align-items: center;
    flex-direction: column;
    position: none;
    top: 0;
  }

  .footer__span1 {
    margin-block-start: -150px;
  }

  span.span1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -160px;
  }



  .parrafo1 {
    background-color: rgba(135, 173, 195, 0.726);
    font-size: 15px;
  }

  .copyright {
    justify-content: flex-end;
    font-size: 12px;
    margin: 100px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }



  .principal {
    color: rgb(251 255 18);
  }

  .header__item:hover {
    width: 200px;
    height: auto;
    color: orange;
    text-align: center;
    padding: 20px;
  }

}