@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Licorice&family=The+Nautigal:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botonnuestro {
  padding: 10px;
  background-color: #ff1800;
  top: -360px;
  color: white;
  font-family: sans-serif, Arial, Helvetica;
  border-radius: 200px;
  width: 200px;
  position: relative;
  margin-left: 900px;
  display: flex;
  justify-content: center;
  font-size: large;
}

.card-img {
  padding: 0px;
  max-width: 100%;
  height: 700px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}

h2,
h2 + p {
  margin: 30px 15px 0;
  font-weight: 300;
}

h2 + p a {
  color: #333;
}

h2 + p a:hover {
  text-decoration: none;
}

h2 {
  margin: 60px 15px 0;
  padding: 0;
  font-weight: 300;
}

.header {
  width: 100%;
  display: flex;
  background-color: black;
  height: 130px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.header__logo {
  display: flex;
  height: 150px;
  width: 150px;
}

.header__nav {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
}

.header__lista {
  flex-wrap: wrap;
  list-style: none;
  color: #ff9800;
}

.header__item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}

.header__item a:hover {
  color: #e32c2c;
  transition: background-color .5s;
}

.header__item a:hover a {
  color: #ff9800;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__item {
    color: #ff9800;
  }
}

@media screen and (max-width: 425px) {
  .header__item {
    color: yellow;
  }
}

.fondo-cuerpo {
  background-color: #000000f2;
  color: white;
}

.principal {
  display: flex;
  font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
  font-size: 40px;
  color: #ff9800;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 700px;
}

.principal .parrafo1 {
  font-family: sans-serif, Tahoma;
  color: #ff9800;
  padding: 20px;
  display: flex;
}

.card-img-overlay {
  position: inherit;
  top: -900px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

a {
  color: #ffffff;
  text-decoration: none;
}

h5.hcinco {
  color: white;
  font-size: 50px;
}

p.card-text {
  font-size: 20px;
  margin: 20px;
  color: white;
}

.card-ultima {
  padding: 0;
}

.img-dark {
  display: block;
  margin: auto;
  max-width: 50%;
}

.parrafo {
  font-family: sans-serif, Tahoma;
  padding: 5px;
  color: black;
}

.parrafo3 {
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 20px;
  background-color: grey;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.parrafo3 {
  font-family: sans-serif;
  color: black;
  padding: 20px;
  background-color: grey;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.tarjetaservicios {
  display: flex;
  justify-content: space-around;
}

img.trabajosrealizados-servicios {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

h5.trabajos-realizados {
  justify-content: space-around;
}

.otros-realizados {
  display: flex;
  justify-content: space-around;
}

img.otros-trabajosrealizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

.asadores-realizados {
  display: flex;
  justify-content: space-around;
}

img.asadorestrabajos-realizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

.mas-realizados {
  display: flex;
  justify-content: space-around;
}

.varios-realizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.gallery__img {
  object-fit: cover;
}

div img {
  padding: 10px;
  max-width: 100%;
}

.resumen {
  color: black;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.imagenes-taller {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 40px;
}

h2.trabajos-realizados {
  font-size: 2rem;
}

/*------------------FOOTER----------------------*/
.footer-0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.footer-0 .contenedor-footer {
  display: flex;
  height: 200px;
  width: 200px;
}

.footer__span1 {
  margin-block-start: -150px;
}

.footer__span1 .calle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  margin-top: 200px;
}

.footer__span1 .telefono {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.footer__span1 .econtacto {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
}

.footer__span1 .copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 50px;
}

/*------------------APPS----------------------*/
.redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 150px;
  text-align: right;
  justify-content: space-around;
}

.redes ul {
  list-style: none;
}

.redes .li.face {
  margin: 5px;
  max-width: 100%;
}

.redes .li.insta {
  margin: 5px;
  max-width: 100%;
}

.redes .li.what {
  margin: 5px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.rectangulo {
  text-align: center;
  margin: 30px;
  font-weight: 500;
  font-family: sans-serif, Arial, Helvetica;
}

.trabajos-realizados {
  display: flex;
  align-content: center;
  text-align: start;
}

p {
  font-size: 20px;
  margin: 20px;
}

h2.trabajos-realizados {
  font-size: 2rem;
}

h1 {
  text-align: center;
  margin: auto;
}

.contactosubtitulo {
  text-align: center;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.section {
  grid-area: "section";
}

.contenedor {
  width: 100%;
  margin: auto;
}

.columna .img {
  width: 100%;
}

.columna {
  margin: 5px;
}

.elemento.elemento-img {
  position: relative;
  transition: 2s;
  transform: 0;
  display: block;
}

form {
  align-content: center;
  border: #0c0c0c;
}

form fieldset .datos {
  display: grid;
  align-content: center;
  font-size: 18px;
  margin: 40px;
  align-items: end;
  justify-items: stretch;
}

form .contactoingresar {
  display: grid;
  align-content: center;
  padding: 30px 30px;
  align-items: center;
  margin: 40px;
  width: 35%;
  background-color: #41464b;
  color: white;
  border-radius: 10px;
}

form .contactoingresar .legend.completardatos {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 30px;
  margin-left: 20px;
}

form input [type="submit"] {
  border-radius: 40px;
  width: 80px;
  padding: 20px;
  margin: auto;
}

form input [type="button"][type="submit"], form input[type="button"] {
  border-radius: 40px;
  width: 200px;
  margin: auto;
}

form input [type="reset"][type="submit"], form input[type="reset"] {
  border-radius: 40px;
  width: 200px;
  margin: auto;
}

.facturacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50%;
  position: relative;
  top: -550px;
}

.facturacion .tipodefactura {
  display: grid;
  align-content: center;
  padding: 30px 90px;
  justify-content: space-around;
}

iframe {
  display: grid;
  width: 50%;
  height: 250px;
  padding: 10px 100px;
  margin-left: 650px;
  margin-top: -450px;
}

black {
  color: black;
}

#e32c2c {
  color: #e32c2c;
}

white {
  color: white;
}

#ff9800 {
  color: #ff9800;
}

grey {
  color: grey;
}

#41464b {
  color: #41464b;
}

white {
  color: white;
}

rgba(135, 173, 195, 0.726) {
  color: rgba(135, 173, 195, 0.726);
}

#ff1800 {
  color: #ff1800;
}

yellow {
  color: yellow;
}

#000000f2 {
  color: #000000f2;
}

/*------------------------ MEDIA QUERIES/ tablets -------------------------*/
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  .header__logo {
    display: flex;
    height: 100px;
    width: 100px;
  }
  .gallery-container {
    grid-template-columns: 1fr;
  }
  .principal {
    display: flex;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
    margin-right: 230px;
  }
  .header__nav {
    display: flex;
    text-align: center;
    font-size: 15px;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  ul.header__lista {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
  }
  .header__item {
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    background-color: black;
  }
  .card-img {
    padding: 0px;
    max-width: 100%;
    height: max-content;
  }
  .contactosubtitulo {
    text-align: center;
    font-style: italic;
    margin-top: 30px;
  }
  a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0px;
  }
  .botonnuestro {
    padding: 10px;
    background-color: #ff1800;
    top: -430px;
    font-family: sans-serif, Arial, Helvetica;
    border-radius: 200px;
    width: 200px;
    position: relative;
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }
  .footer-0 {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
  }
  .footer-0 .contenedor-footer {
    display: flex;
    height: 200px;
    width: 200px;
  }
  .footer__span1 {
    margin-block-start: -100px;
  }
  p {
    font-size: 18px;
    margin: 60px;
  }
  h5.hcinco {
    font-size: 30px;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-items: center;
  }
  div img {
    padding: 10px;
    max-width: 100%;
    object-fit: cover;
  }
  iframe {
    padding: 5px 200px;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .redes {
    display: flex;
    align-items: center;
  }
  input[type="reset"], form input [type="reset"][type="submit"], form input[type="reset"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
  }
  input[type="submit"], form input [type="submit"], form input[type="submit"][type="button"], form input[type="submit"][type="reset"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
  }
  input[type="submit"], form input [type="submit"], form input[type="submit"][type="button"], form input[type="submit"][type="reset"] {
    padding: 12px;
    width: 150px;
    margin: 20px 50px;
  }
  input[type="button"], form input [type="button"][type="submit"], form input[type="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
  }
  form .contactoingresar {
    display: grid;
    align-content: center;
    padding: 30px 30px;
    align-items: center;
    margin: 40px;
    width: 40%;
  }
}

/*---------movil L-425px-------MEDIA QUERIES---------------*/
@media screen and (max-width: 425px) {
  .header {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  ul.header__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .header__logo {
    display: flex;
    height: 100px;
    width: 100px;
  }
  .principal {
    display: flex;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
    margin-right: 0px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    color: #ff9800;
  }
  .header__nav {
    display: flex;
    text-align: center;
    font-size: 15px;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  ul.header__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
    flex-wrap: wrap;
  }
  .header__item {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    align-items: center;
    width: auto;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    height: 30px;
  }
  h5.hcinco {
    font-size: 20px;
    margin: auto;
  }
  p.card-text {
    margin: auto;
    font-size: 15px;
    color: white;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0px solid rgba(0, 0, 0, 0.125);
  }
  .botonnuestro {
    padding: 10px;
    background-color: #ff1800;
    font-family: sans-serif, Arial, Helvetica;
    border-radius: 200px;
    width: 200px;
    position: relative;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    top: -120px;
    color: white;
    font-size: large;
  }
  a {
    font-size: 18px;
    margin-right: 10px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  p {
    font-size: 15px;
    margin: 20px;
  }
  .redes {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer__span1 {
    margin-block-start: -200px;
  }
  .footer-0 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .calle {
    font-size: 20px;
  }
  h1 {
    font-size: 20px;
    margin: 0;
  }
  .contactoingresar {
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
    width: 80%;
  }
  .tipodefactura {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-left: -160px;
  }
  iframe {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .facturacion {
    align-items: center;
    flex-direction: column;
    position: none;
    top: 0;
  }
  .footer__span1 {
    margin-block-start: -150px;
  }
  span.span1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -160px;
  }
  form .contactoingresar {
    display: grid;
    align-content: center;
    padding: 30px 30px;
    align-items: center;
    margin: 40px;
    width: 80%;
  }
  .parrafo1 {
    background-color: rgba(135, 173, 195, 0.726);
    font-size: 15px;
  }
  .copyright {
    justify-content: flex-end;
    font-size: 12px;
    margin: 100px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */