@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Licorice&family=The+Nautigal:wght@700&display=swap');
@import "./parciales/reset";
@import "./parciales/componentesueltos";
@import "./parciales/header";
@import "./parciales/variables";
@import "./parciales/responsive-mixin";



.fondo-cuerpo {
  background-color: #000000f2;
  color: white;
}


.principal {
  display: flex;
  font-family: 'Ephesis', 'Licorice', 'The Nautigal', 'cursive';
  font-size: 40px;
  color: #ff9800;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 700px;



  .parrafo1 {
    font-family: sans-serif, Tahoma;
    color: #ff9800;
    padding: 20px;
    display: flex;
  }
}



.card-img-overlay {
  position: inherit;
  top: -900px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

a {
  color: #ffffff;
  text-decoration: none;
}

h5.hcinco {
  color: white;
  font-size: 50px;
}

p.card-text {
  font-size: 20px;
  margin: 20px;
  color: white;
}

.card-ultima {
  padding: 0;
}

.img-dark {
  display: block;
  margin: auto;
  max-width: 50%;
}


.parrafo {
  font-family: sans-serif, Tahoma;
  padding: 5px;
  color: black;
}

.parrafo3 {
  font-family: sans-serif, Tahoma;
  color: black;
  padding: 20px;
  background-color: grey;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}



$estilos:(fuente:sans-serif,
  color:black,
  20px: 20px,
  bcolor: grey,
  displayf: flex,
  centro:center,
  alinear: center,
  justify: center,
);

.parrafo3 {
  font-family: map-get($estilos, fuente);
  color: map-get($estilos, color);
  padding: map-get($estilos, 20px);
  background-color: map-get($estilos, bcolor);
  display: map-get($estilos, displayf);
  align-content: map-get($estilos, alinear);
  align-items: map-get($estilos, alinear);
  justify-content: map-get($estilos, justify);
}



.tarjetaservicios {
  display: flex;
  justify-content: space-around;
}

img.trabajosrealizados-servicios {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

h5.trabajos-realizados {
  justify-content: space-around;
}

.otros-realizados {
  display: flex;
  justify-content: space-around;
}

img.otros-trabajosrealizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}

.asadores-realizados {
  display: flex;
  justify-content: space-around;
}

img.asadorestrabajos-realizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}


.mas-realizados {
  display: flex;
  justify-content: space-around;
}

.varios-realizados {
  height: 250px;
  width: 350px;
  margin-left: 50px;
}


.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.gallery__img {
  object-fit: cover;
}

div img {
  padding: 10px;
  max-width: 100%;
}

.resumen {
  color: black;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.imagenes-taller {
  @include imagtaller
}

@mixin imagtaller {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 40px;
}




h2.trabajos-realizados {
  font-size: 2rem;
}

/*------------------FOOTER----------------------*/


.footer-0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;

  .contenedor-footer {
    display: flex;
    height: 200px;
    width: 200px;
  }
}

.footer__span1 {
  margin-block-start: -150px;


  .calle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    margin-top: 200px;
  }

  .telefono {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
  }

  .econtacto {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
  }

  .copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin: 50px;
  }
}

/*------------------APPS----------------------*/


.redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 150px;
  text-align: right;
  justify-content: space-around;


  ul {
    list-style: none;
  }

  .li.face {
    margin: 5px;
    max-width: 100%;
  }

  .li.insta {
    margin: 5px;
    max-width: 100%;
  }

  .li.what {
    margin: 5px;
    max-width: 100%;
  }
}


img {
  max-width: 100%;
}

.rectangulo {
  text-align: center;
  margin: 30px;
  font-weight: 500;
  font-family: sans-serif, Arial, Helvetica;
}

.trabajos-realizados {
  display: flex;
  align-content: center;
  text-align: start;
}

p {
  font-size: 20px;
  margin: 20px;
}

h2.trabajos-realizados {
  font-size: 2rem;
}

h1 {
  text-align: center;
  margin: auto;
}

.contactosubtitulo {
  text-align: center;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.section {
  grid-area: "section";
}

.contenedor {
  width: 100%;
  margin: auto;
}

.columna .img {
  width: 100%;
}

.columna {
  margin: 5px;
}

.elemento.elemento-img {
  position: relative;
  transition: 2s;
  transform: 0;
  display: block;
}

form {
  align-content: center;
  border: #0c0c0c;


  fieldset .datos {
    display: grid;
    align-content: center;
    font-size: 18px;
    margin: 40px;
    align-items: end;
    justify-items: stretch;
  }

  .contactoingresar {
    display: grid;
    align-content: center;
    padding: 30px 30px;
    align-items: center;
    margin: 40px;
    width: 35%;
    background-color: #41464b;
    color: white;
    border-radius: 10px;

    .legend.completardatos {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: 30px;
      margin-left: 20px;
    }
  }

  input [type="submit"] {
    @extend input;
    border-radius: 40px;
    width: 300px;
    padding: 10px;
    margin: 20px;
  }

  input[type="button"] {
    @extend input;
    border-radius: 40px;
    width: 200px;
  }

  input[type="reset"] {
    @extend input;
    border-radius: 40px;
    width: 200px;
  }
}

.facturacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 50%;
  position: relative;
  top: -550px;

  .tipodefactura {
    display: grid;
    align-content: center;
    padding: 30px 90px;
    justify-content: space-around;
  }
}

iframe {
  display: grid;
  width: 50%;
  height: 250px;
  padding: 10px 100px;
  margin-left: 650px;
  margin-top: -450px;
}



@each $color in black,
$rojo,
$blanco,
$naranja,
$gris,
$petroleo,
$blancos,
$empetrolado,
$morado,
$amarillo,
$blacktrans {
  #{$color} {
    color: #{$color};
  }
}

/*------------------------ MEDIA QUERIES/ tablets -------------------------*/


@media screen and (max-width:768px) {


  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: black;
  }

  img.header__logo {
    margin-top: 20px;
  }

  .header__logo {
    display: flex;
    height: 100px;
    width: 100px;
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }

  .principal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .header__nav {
    display: flex;
    text-align: center;
     font-size: 15px;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  ul.header__lista {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

 .header__item {
    display: inline-flex;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
  }

  a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }

  .botonnuestro {
    padding: 10px;
    background-color: #ff1800;
    top: -250px;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    border-radius: 200px;
    width: 200px;
    position: relative;
    margin-left: 50px;
    display: flex;
    justify-content: center;
  }


  .footer-0 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-color: black;
  }

  .footer-0 .contenedor-footer {
    display: flex;
    height: 200px;
    width: 200px;
  }

  .footer__span1 {
    margin-block-start: -100px;
}

  p {
    font-size: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-items: center;
  }


  iframe {
    padding: 5px 200px;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .redes {
    display: flex;
    align-items: center;
    align-content: flex-end;
    height: 0px;
  }

 
}




/*---------movil L-425px-------MEDIA QUERIES---------------*/


@media screen and (max-width:425px) {

  .grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .header__item {
    display: inline-flex;
    width: 250px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
  }

  p {
    font-size: 15px;
    margin: 20px;
  }

  .redes {
    height: 20px;
  }

  .footer-0 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .calle {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .contactoingresar {
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }

  .tipodefactura {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-left: -160px;
  }

  iframe {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  ul .header__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .facturacion {
    align-items: center;
    flex-direction: column;
    position: none;
    top: 0;
  }

  .footer__span1 {
    margin-block-start: -150px;
  }

  span.span1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -160px;
  }

  .parrafo1 {
    background-color: rgba(135, 173, 195, 0.726);
    font-size: 15px;
  }

  .copyright {
    justify-content: flex-end;
    font-size: 12px;
    margin: 100px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .header__item:hover {
    width: 200px;
    height: auto;
    color: orange;
    text-align: center;
    padding: 20px;
  }

}