@import "./responsive-mixin";
@import "./variables";




.header {
  width: 100%;
  display: flex;
  background-color: black;
  height: 130px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;


  &__logo {
    display: flex;
    height: 150px;
    width: 150px;
  }

  &__nav {
    font-size: 15px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  &__lista {
    flex-wrap: wrap;
    list-style: none;
    color: #ff9800;
  }


  &__item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;

    a:hover {
      color: $rojo;
      transition: background-color .5s;

      a {
        color: $naranja;
        text-decoration: none;
      }
    }

    @include tablet {
      color: #ff9800;
    }

    @include movil {
      color: yellow;
    }



  }
}