@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}



@mixin movil {
    @media screen and (max-width:425px) {
        @content;
    }
}



@mixin imagenestaller {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 40px;
  }