$black: black;
$rojo: rgb(227, 44, 44);
$blanco: white;
$naranja: #ff9800;
$gris: grey;
$petroleo: #41464b;
$blancos: white;
$empetrolado: rgba(135, 173, 195, 0.726);
$morado: #ff1800;
$amarillo: yellow;
$blacktrans: #000000f2;



